@using GGYatirim.Models.Sinif
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Dbilan>
@using GGYatirim.App_Code
@{
    ViewBag.Title = "FiyatAzalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*Düşük Fiyat*@


<div class="new-region-wrapper">
    <div class="container">
        <!--For customize use html and less from home_bar.html and home_bar.less start-->
        <!-- hidebutton - hide home-bar-btn block; hidelinks - hide links-block -->
        <div class="new-region-home-bar-wrapper hidebutton hidelinks">
            <form id="search-form-2" method="get">
                <div class="property-search">
                    <div class="main-apartment-search-options">

                        @using (Html.BeginForm("FiyatAzalan", "ilanlar", FormMethod.Get))
                        {


                            <div class="options-wrapper-main">
                                <div class="wrapper search-property">
                                    <input type="text" class="property-searchinput" name="p" placeholder="İlan No Giriniz">
                                </div>




                                <div class="wrapper button-wrap">
                                    <button class="property-button">Ara</button>
                                </div>
                            </div>
                        }

                    </div>



                </div>
            </form>

        </div>

        <!--For customize use html and less from home_bar.html and home_bar.less end-->
        @*@Html.Action("YeniilanPart", "Home")*@


        <div class="row">

            <div class="col-md-3 region-table">
                <div class="region-item">
                    @Html.Action("DbilanFilter", "Home")
                    @*@Html.Action("DbEmlakTipi")*@
                </div>
                <div class="region-item">
                    @Html.Action("DbilanDurum", "Home")
                    @*@Html.Action("DbEmlakTipi")*@
                </div>

                <div class="region-item">

                    @Html.Action("DbEmlakTipi", "Home")
                </div>
            </div>

            <!-- İlan Kısmı-->
            @foreach (var x in Model)
            {
                <div class="col-sm-3">
                    <div class="property-block">

                        <p class="property-type">
                            @Html.ActionLink(x.DbEmlakTipi.EmlakTipAd, "ilanDetaylar", new { id = x.ilanID, baslik2 = Seo.AdresDuzenle(x.EmlakTipi) })

                        </p>
                        @if (x.EmlakTipi != null)
                        {
                            <p class="property-title" style="text-decoration:none;">
                                @Html.ActionLink(x.EmlakTipi, "ilanDetaylar", new { id = x.ilanID, baslik2 = Seo.AdresDuzenle(x.EmlakTipi) })
                            </p>
                        }

                        <div class="apartment-address">
                            <i class="fa fa-map-marker"></i>
                            <span class="address">@x.DbKonum.SehirAd ,</span>
                            <span class="address">@x.TamAdres</span>
                        </div>

                        <div class="apartment-image">
                            @if (x.VitrinResim != null)
                            {
                                <img src="@x.VitrinResim" alt="image">
                            }
                            <div class="badges">

                                <p class="featured">@x.DbEmlakTipi.EmlakTipAd</p>
                                <p class="rent">@x.DbilanOzellik.OzellikAd</p>

                                @if (x.DbilanDurum.ilanDurumAd == "Satılık")
                                {
                                    <p class="sale">@x.DbilanDurum.ilanDurumAd</p>

                                }
                                @if (x.DbilanDurum.ilanDurumAd == "Kiralık")
                                {
                                    <p class="rent" style="background-color: #24dd93;">@x.DbilanDurum.ilanDurumAd</p>
                                }



                            </div>

                        </div>


                        <div class="apartment-info">
                            <div class="apartment-price">

                                <p class="price-big" style="font-weight:800">@x.TamFiyat ₺</p>

                                <p class="price-big">
                                    İlan No:
                                    @Html.ActionLink(x.ilanNo, "ilanDetaylar", new { id = x.ilanID, baslik2 = Seo.AdresDuzenle(x.EmlakTipi) })

                                </p>

                            </div>


                        </div>
                        <div class="apartment-manager">
                            <div class="manager-icon">
                                @if (x.KProfil != null)
                                {
                                    <a href="#chat"> <img src="@x.KProfil" alt="kullanici profil"></a>
                                    <div class="online-status"></div>
                                }
                                else
                                {
                                    <img src="~/Content/Images/Logo Update-01.png" alt="kullanici profil">
                                    <div class="online-status"></div>
                                }
                            </div>
                            <div class="manager-wrap">
                                <span class="manager-name">
                                    @Html.ActionLink(x.KAdSoyad, "ilanDetaylar", new { id = x.ilanID, baslik2 = Seo.AdresDuzenle(x.EmlakTipi) })

                                </span>
                            </div>
                            <div class="calendar">
                                <i class="fa fa-calendar-check-o"></i>
                                <span>
                                    @Html.ActionLink(Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy"), "ilanDetaylar", new { id = x.ilanID, baslik2 = Seo.AdresDuzenle(x.EmlakTipi) })

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }


            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("FiyatAzalan", new { sayfa }))


        </div>



    </div>
</div>