@model GGYatirim.Models.Sinif.Dbilan

@{
    ViewBag.Title = "ilanDetaylar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Swiper/Swiper.css" rel="stylesheet" />
<div class="page-title-simple m-b-30">
    <div class="container">
        <ul>
            <li>
                <a href="/">Ana Sayfa</a>
            </li>
            <li>
                <a href="#">İlan detay</a>
            </li>
        </ul>
        <h1>İlan Detay</h1>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-7">



            <div class="property_gallery m-b-30">
                <div class="wrapper">

                    <!--в атрибуте data-height указать высоту, если высота не указана, то скрипт автоматически поставит 450 -->

                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                         class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            @for (int i = 0; i < Model.DbilanGallery.Count(); i++)
                            {
                                foreach (var item in Model.DbilanGallery)
                                {
                                    <div class="swiper-slide">
                                        <div class="property-status">
                                            <span class="featured">@Model.EmlakTipi</span>
                                            <span class="featured">@Model.DbEmlakTipi.EmlakTipAd</span>
                                            <span class="rent">@Model.DbilanDurum.ilanDurumAd</span>
                                        </div>
                                        <img src="@item.URL" />
                                    </div>
                                }
                            }
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div thumbsSlider="" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            @for (int i = 0; i < Model.DbilanGallery.Count(); i++)
                            {
                                foreach (var item in Model.DbilanGallery)
                                {
                                    <div class="swiper-slide">
                                        <img src="@item.URL" style="height:105px" />
                                    </div>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>



            <div class="single-property-details m-b-30">
                <div class="main-info">
                    <span class="details">Detaylar</span>
                    <span class="update">Bu Günün Tarihi: @DateTime.Today.ToString("dd/MMMM/yyyy")</span>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ilanNo != null)
                        {
                            <div class="wrap">
                                <span>İlan No: </span><b> @Model.ilanNo</b>
                            </div>
                        }
                        <div class="wrap">
                            <span>Yayınlanan Tarihi: </span>@Convert.ToDateTime(Model.Tarih).ToString("dd/MMM/yyyy")

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.DbKonum.SehirAd != null)
                        {
                            <div class="wrap">
                                <span>Şehir: </span>@Model.DbKonum.SehirAd
                            </div>
                        }
                        @if (Model.TamAdres != null)
                        {
                            <div class="wrap">
                                <span>Adres:</span>@Model.TamAdres
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.TamFiyat != null)
                        {
                            <div class="wrap">
                                <span>Tam Fiyatı: </span><b> @Model.TamFiyat ₺</b>
                            </div>
                        }
                        @if (Model.MetreKareFiyat != null)
                        {
                            <div class="wrap">
                                <span>Metre Kare Fiyatı: </span><b> @Model.MetreKareFiyat ₺</b>
                            </div>
                        }
                    </div>
                </div>
            </div>


            <!--Özellikler-->



            <div class="property_address m-b-30">
                <div class="main-info">
                    <span class="details">Özellikler</span>
                </div>


                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.SiteAdi != null)
                        {
                            <div class="wrap">
                                <span>Site Adı: </span>@Model.SiteAdi

                            </div>
                        }
                        @if (Model.KurulusYili != null)
                        {
                            <div class="wrap">
                                <span>Kuruluş Yılı: </span>@Model.KurulusYili
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.AlanBoyutu != null)
                        {
                            <div class="wrap">
                                <span>Alan Boyutu: </span>@Model.AlanBoyutu
                            </div>
                        }
                        @if (Model.AraziAlanı != null)
                        {
                            <div class="wrap">
                                <span>Arazi Alanı: </span>@Model.AraziAlanı

                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.OdaSayisi != null)
                        {
                            <div class="wrap">
                                <span>Oda Sayısı: </span>@Model.OdaSayisi
                            </div>
                        }
                        @if (Model.Garaj != null)
                        {
                            <div class="wrap">
                                <span>Garaj: </span>@Model.Garaj
                            </div>
                        }
                    </div>
                </div>









                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.Aidat != null)
                        {
                            <div class="wrap">
                                <span>Aidat: </span>@Model.Aidat
                            </div>
                        }
                        @if (Model.BulunduguKat != null)
                        {
                            <div class="wrap">
                                <span>Bulunduğu Kat: </span>@Model.BulunduguKat
                            </div>
                        }
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.KatSayisi != null)
                        {
                            <div class="wrap">
                                <span>Kat Sayısı: </span>@Model.KatSayisi
                            </div>
                        }
                        @if (Model.isitma != null)
                        {
                            <div class="wrap">
                                <span>Isıtma: </span>@Model.isitma
                            </div>
                        }
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.Esyali != null)
                        {
                            <div class="wrap">
                                <span>Eşyalı: </span>@Model.Esyali
                            </div>
                        }
                        @if (Model.KullanimDurumu != null)
                        {
                            <div class="wrap">
                                <span>Kullanım Durumu: </span>@Model.KullanimDurumu
                            </div>
                        }
                    </div>
                </div>









                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.Siteicerisinde != null)
                        {
                            <div class="wrap">
                                <span>Site İçerisinde: </span>@Model.Siteicerisinde
                            </div>
                        }
                        @if (Model.KrediyeUygun != null)
                        {
                            <div class="wrap">
                                <span>Krediye Uygun: </span>@Model.KrediyeUygun
                            </div>
                        }
                    </div>



                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.Takasli != null)
                        {
                            <div class="wrap">
                                <span>Takas: </span>@Model.Takasli
                            </div>
                        }
                        @if (Model.TapuDurumu != null)
                        {
                            <div class="wrap">
                                <span>Tapu Durumu: </span>@Model.TapuDurumu
                            </div>
                        }
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ZeminEtudu != null)
                        {
                            <div class="wrap">
                                <span>Zemin Etüdü: </span>@Model.ZeminEtudu
                            </div>
                        }
                        @if (Model.YapininDurumu != null)
                        {
                            <div class="wrap">
                                <span>Yapının Durumu: </span>@Model.YapininDurumu
                            </div>
                        }
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.YakitTipi != null)
                        {
                            <div class="wrap">
                                <span>Yakıt Tipi: </span>@Model.YakitTipi
                            </div>
                        }
                        @if (Model.Balkon != null)
                        {
                            <div class="wrap">
                                <span>Balkon: </span>@Model.Balkon
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.Banyo != null)
                        {
                            <div class="wrap">
                                <span>Banyo: </span>@Model.Banyo
                            </div>
                        }
                        @if (Model.GoogleMapAdres != null)
                        {
                            <div class="wrap">
                                <span>Google Map Haritası: </span>@Model.GoogleMapAdres
                            </div>
                        }
                    </div>
                </div>






                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArsaImarDurum != null)
                        {
                            <div class="wrap">
                                <span>İmar Durumu: </span>@Model.ArsaImarDurum

                            </div>
                        }
                        @if (Model.ArsaAdaNo != null)
                        {
                            <div class="wrap">
                                <span>Ada No: </span>@Model.ArsaAdaNo
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArsaParselNo != null)
                        {
                            <div class="wrap">
                                <span>Parsel No: </span>@Model.ArsaParselNo
                            </div>
                        }
                        @if (Model.ArsaPaftaNo != null)
                        {
                            <div class="wrap">
                                <span>Pafta No: </span>@Model.ArsaPaftaNo

                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArsaKaks != null)
                        {
                            <div class="wrap">
                                <span>Kaks: </span>@Model.ArsaKaks
                            </div>
                        }
                        @if (Model.ArsaGabari != null)
                        {
                            <div class="wrap">
                                <span>Gabari: </span>@Model.ArsaGabari
                            </div>
                        }
                    </div>
                </div>









                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.PetrolAcilAlan != null)
                        {
                            <div class="wrap">
                                <span>İç Alanı: </span>@Model.PetrolAcilAlan

                            </div>
                        }
                        @if (Model.PetrolKapaliAlan != null)
                        {
                            <div class="wrap">
                                <span>Kapalı Alan: </span>@Model.PetrolKapaliAlan
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.PetrolPompaSayisi != null)
                        {
                            <div class="wrap">
                                <span>Pompa Sayısı: </span>@Model.PetrolPompaSayisi
                            </div>
                        }
                        @if (Model.ArabaSerisi != null)
                        {
                            <div class="wrap">
                                <span>Serisi: </span>@Model.ArabaSerisi

                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArabaModel != null)
                        {
                            <div class="wrap">
                                <span>Model: </span>@Model.ArabaModel
                            </div>
                        }
                        @if (Model.ArabaYil != null)
                        {
                            <div class="wrap">
                                <span>Yıl: </span>@Model.ArabaYil
                            </div>
                        }
                    </div>
                </div>











                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArabaVites != null)
                        {
                            <div class="wrap">
                                <span>Vites: </span>@Model.ArabaVites

                            </div>
                        }
                        @if (Model.ArabaKM != null)
                        {
                            <div class="wrap">
                                <span>KM: </span>@Model.ArabaKM
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArabaKasaTipi != null)
                        {
                            <div class="wrap">
                                <span>Kasa Tipi: </span>@Model.ArabaKasaTipi
                            </div>
                        }
                        @if (Model.ArabaMotorGucu != null)
                        {
                            <div class="wrap">
                                <span>Motor Gücü: </span>@Model.ArabaMotorGucu

                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArabaMotorHacmi != null)
                        {
                            <div class="wrap">
                                <span>Motor Hacmi: </span>@Model.ArabaMotorHacmi
                            </div>
                        }
                        @if (Model.ArabaCekis != null)
                        {
                            <div class="wrap">
                                <span>Çekiş: </span>@Model.ArabaCekis
                            </div>
                        }
                    </div>
                </div>











                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArabaRenk != null)
                        {
                            <div class="wrap">
                                <span>Araba Rengi: </span>@Model.ArabaRenk

                            </div>
                        }
                        @if (Model.ArabaGarantili != null)
                        {
                            <div class="wrap">
                                <span>Garanti: </span>@Model.ArabaGarantili
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.ArabaPlakaUyrugu != null)
                        {
                            <div class="wrap">
                                <span>Plaka Uyrugu: </span>@Model.ArabaPlakaUyrugu
                            </div>
                        }
                        @if (Model.TraktorMarka != null)
                        {
                            <div class="wrap">
                                <span>Marka: </span>@Model.TraktorMarka

                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.TraktorKabin != null)
                        {
                            <div class="wrap">
                                <span>Kabin: </span>@Model.TraktorKabin
                            </div>
                        }
                        @if (Model.TraktorVites != null)
                        {
                            <div class="wrap">
                                <span>Vites: </span>@Model.TraktorVites
                            </div>
                        }
                    </div>
                </div>










                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.TraktorMotorGücü != null)
                        {
                            <div class="wrap">
                                <span>Motor Gücü: </span>@Model.TraktorMotorGücü

                            </div>
                        }
                        @if (Model.TraktorSlinderSayisi != null)
                        {
                            <div class="wrap">
                                <span>Slinder Sayısı: </span>@Model.TraktorSlinderSayisi
                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.TraktorCalismaSaati != null)
                        {
                            <div class="wrap">
                                <span>Çalışma Saati: </span>@Model.TraktorCalismaSaati
                            </div>
                        }
                        @if (Model.TraktorOnYukleyiciKepce != null)
                        {
                            <div class="wrap">
                                <span>Ön Yükleyici Kepçe: </span>@Model.TraktorOnYukleyiciKepce

                            </div>
                        }
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        @if (Model.TraktorOnLastik != null)
                        {
                            <div class="wrap">
                                <span>Ön Lastik: </span>@Model.TraktorOnLastik
                            </div>
                        }
                        @if (Model.TraktorArkaLastik != null)
                        {
                            <div class="wrap">
                                <span>Arka Lastik: </span>@Model.TraktorArkaLastik
                            </div>
                        }
                    </div>
                </div>

            </div>



            <div class="single-property-description m-b-30">
                @if (Model.Aciklama != null)
                {
                    <h3>Açıklama</h3>
                    <p>
                        @Model.Aciklama
                    </p>

                }

                @if (Model.OzelNor != null)
                {

                    <h3>Özel Not</h3>
                    <p style="font-style:italic">
                        @Html.Raw(Model.OzelNor)
                    </p>
                }
            </div>





        </div>




        <!--İlanı Veren Kişi-->
        <div class="col-lg-4 col-md-5">

            <div class="sidebar-agent m-b-30">
                <div class="agent-info-wrap">
                    <div class="agent-img online">
                        @if (Model.KProfil == null)
                        {
                            <img src="~/Content/Images/Logo Update-01.png" alt="agent-img">
                        }
                        else
                        {
                            <img src="@Model.KProfil" alt="agent-img">

                        }
                    </div>
                    <div class="agent-name">
                        @Model.KAdSoyad

                    </div>

                </div>
                <div class="agent-contact-wrap">
                    <p>@Model.KKisaAciklama </p>
                    <div class="information-column">

                        <span><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>Telefon:</span>
                        <a href="Tel:@Model.KTel">
                            <span class="values">@Model.KTel</span>
                        </a>

                        <span><i class="fa fa-envelope" aria-hidden="true"></i>E-mail:</span>
                        <a href="MailTo:@Model.KEPosta" class="values">@Model.KEPosta</a>
                    </div>
                    @*<form>
                            <input type="teModelt" placeholder="Adınız">
                            <input type="teModelt" placeholder="Telefon No">
                            <input type="teModelt" placeholder="E-Posta">
                            <teModeltarea placeholder="Mesajınız"></teModeltarea>
                        </form>
                        <button type="submit">Mesaj Gönder</button>*@
                </div>
            </div>





            <div class="sidebar-search-results m-b-30">
                <h3>Yeni Satılık İlanlar</h3>
                @Html.Action("ilanDetayPart", "Home")

                @*@Html.Action("ilanDetayPart")*@


            </div>

            <div class="sidebar-featured">
                <h3>Yeni Kiralık İlanlar</h3>
                @*@Html.Action("ilanDetayKiralikPart")*@
                @Html.Action("ilanDetayKiralikPart", "Home")


            </div>
        </div>
    </div>
</div>
<script src="~/Content/Swiper/Swiper.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>
