@model IEnumerable<GGYatirim.Models.Sinif.Dbilan>
@using GGYatirim.App_Code




@foreach (var x in Model)
{

    if (x.ilanDurumIDD == 1)
    {
        <div class="result">
            <img src="@x.VitrinResim" alt="search-img">
            <span class="name">
                <a href="#">
                    @Html.ActionLink(x.DbEmlakTipi.EmlakTipAd, "ilanDetay", new { id = x.ilanID, baslik1 = Seo.AdresDuzenle(x.EmlakTipi) })

                </a>
                <span class="apartment-name">
                    @Html.ActionLink(x.EmlakTipi, "ilanDetay", new { id = x.ilanID, baslik1 = Seo.AdresDuzenle(x.EmlakTipi) })
                </span>
            </span>
            <span class="wrapper">
                <span class="info">
                    <span>
                        <span>Fiyat, ₺ </span>@x.TamFiyat
                    </span>
                    <br />
                    <span>
                        <span>Tarih </span>@Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy")
                    </span>
                </span>

                <span class="info">
                    <span>
                        <span>İlan No </span>@x.ilanNo
                    </span>
                    <br />
                   
                </span>

                @*<span class="buttons">
                        <a href="#" class="heart"><i class="material-icons icons-style"></i></a>
                        <a href="#" class="clone"> <i class="fa fa-share"></i></a>
                    </span>*@
            </span>
        </div>
    }

}


