@model IEnumerable<GGYatirim.Models.Sinif.Dbilan>



@foreach (var k in Model)
{

    if (k.ilanDurumIDD == 2)
    {
        <div class="item">
            <img src="@k.CokluResim" alt="property-image">
            <div class="info">
                <a href="/Home/ilanDetay/@k.ilanID" class="name">Design place apartment</a>
                <a href="/Home/ilanDetay/@k.ilanID" class="name">İlan No: @k.ilanNo</a>

                <div class="wrapper">
                    <div class="left-wrap" style="text-align:center;">
                        <span><span>Bulunduğu Kat</span>@k.BulunduguKat</span>
                        <span><span>Fiyat ₺</span>@k.TamFiyat</span>

                    </div>

                    <div class="left-wrap" style="text-align:center;">
                        <span><span>Oda Sayısı</span>@k.OdaSayisi</span>
                        <span><span>Tarih </span>@Convert.ToDateTime(k.Tarih).ToString("dd/MMM/yyyy")</span>
                    </div>

                </div>
            </div>
        </div>
    }
}

