@model IEnumerable<GGYatirim.Models.Sinif.Dbilan>

@{
    ViewBag.Title = "ilanDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="page-title-simple m-b-30">
    <div class="container">
        <ul>
            <li>
                <a href="/">Ana Sayfa</a>
            </li>
            <li>
                <a href="#">İlan detay</a>
            </li>
        </ul>
        <h1>İlan Detay</h1>
    </div>
</div>

<!--<div class="container js-home-1-search m-b-30">-->
<!--PROPERTY SEARCH FORM 1 BEGIN-->
<!--<form id="search-form-1">
    <div class="property-search">
        <div class="main-apartment-search-options">
            <div class="options-wrapper-main">
                <div class="wrapper search-property">
                    <h3>ID or Keyword</h3>
                    <input type="search" class="property-searchinput" placeholder="ID or Keyworld">
                </div>


                <div class="wrapper">
                    <h3>Konum</h3>
                    <select form="search-form-1" name="KonumIDD" class="location-select big-input"
                            data-placeholder="location">
                        <option value="london">London</option>
                        <option value="miami">Miami</option>
                        <option value="new-york">New-York</option>
                        <option value="houston">Houston</option>

                    </select>
                </div>

                <div class="wrapper">
                    <h3>Property type</h3>
                    <select form="search-form-1" name="property" class="property-select big-input"
                            data-placeholder="type">
                        <option value="apartment">Apartment</option>
                        <option value="farm">Farm</option>
                        <option value="condo">Condo</option>
                        <option value="multi-family-house">Multi Family House</option>
                        <option value="townhouse">Townhouse</option>
                    </select>
                </div>

                <div class="wrapper">
                    <h3>Status</h3>
                    <select form="search-form-1" name="status" class="status-select big-input badge-test"
                            data-placeholder="status">
                        <option value="sale" data-text="small-badge sale">For Sale</option>
                        <option value="rent" data-text="small-badge rent">For Rent</option>
                        <option value="new" data-text="small-badge new">New</option>
                        <option value="featured" data-text="small-badge featured">Featured</option>
                        <option value="reused" data-text="small-badge reused">Reused</option>
                        <option value="hot" data-text="small-badge hot">Hot Offer</option>
                    </select>
                </div>

                <div class="wrapper advanced-wrapper">
                    <h3>Gelişmiş Mod</h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <button class="property-button">Find Properties</button>
                </div>
            </div>

        </div>


    </div>
</form>-->
<!--PROPERTY SEARCH FORM 1 END-->
<!--</div>-->

<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-7">


            @foreach (var x in Model)
            {
                <div class="property_gallery m-b-30">
                    <div class="wrapper">

                        <!--в атрибуте data-height указать высоту, если высота не указана, то скрипт автоматически поставит 450 -->
                        <div class="slide" data-height="450">
                            <div class="js-image-preloader">
                                <div>
                                    <canvas id='imagecircleback' height='100' width='100'></canvas>
                                    @*<canvas id='imagecirclemain' height='100' width='100'></canvas>*@

                                </div>
                            </div>
                            <div class="property-status">
                                <span class="featured">@x.EmlakTipi</span>
                                <span class="featured">@x.DbEmlakTipi.EmlakTipAd</span>
                                <span class="rent">@x.DbilanDurum.ilanDurumAd</span>
                            </div>
                            <p class="js-fullscreen-message">Press <kbd>ESC</kbd> Çıkış Modu </p>
                        </div>
                        }
                        <a href="#" class="js-fullscreen-btn fullscreen"> <i class="material-icons"></i></a>

                        <div class="property-slides-list-wrapper">
                            <div class="owl-carousel owl-theme">
                                @*@foreach (var item in Model.DbilanGallery.Where(k => k.İlanIDD == Model.ilanID))*@
                                @for (int i = 0; i < x.DbilanGallery.Count(); i++)
                                {
                                    <div class="item">
                                        <a href="#">
                                            <img src="@x.DbilanGalleries[i].URL" alt="@x.DbilanGalleries[i].Ad">
                                        </a>
                                    </div>

                                }

                            </div>
                        </div>
                        <a href="#" class="nav-arrow left-arrow"><i class="fa fa-arrow-circle-right">İleri</i></a>
                        <a href="#" class="nav-arrow right-arrow"><i class="fa fa-arrow-circle-left">Geri</i></a>
                    </div>
                </div>
            }

            @foreach (var x in Model)
            {
                <div class="single-property-details m-b-30">
                    <div class="main-info">
                        <span class="details">Detaylar</span>
                        <span class="update">Bu Günün Tarihi: @DateTime.Today.ToString("dd/MMMM/yyyy")</span>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>İlan No: </span>@x.ilanNo
                            </div>
                            <div class="wrap">
                                <span>Yayınlanan Tarihi: </span>@Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy")

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Şehir: </span>@x.DbKonum.SehirAd
                            </div>
                            <div class="wrap">
                                <span>Adres:</span>@x.TamAdres
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Tam Fiyatı: </span>@x.TamFiyat
                            </div>
                            <div class="wrap">
                                <span>Metre Kare Fiyatı: </span>@x.MetreKareFiyat
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!--Özellikler-->

            @foreach (var x in Model)
            {


                <div class="property_address m-b-30">
                    <div class="main-info">
                        <span class="details">Özellikler</span>
                    </div>


                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Site Adı: </span>@x.SiteAdi

                            </div>
                            <div class="wrap">
                                <span>Kuruluş Yılı: </span>@x.KurulusYili
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">

                                <span>Alan Boyutu: </span>@x.AlanBoyutu
                            </div>
                            <div class="wrap">
                                <span>Arazi Alanı: </span>@x.AraziAlanı

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Oda Sayısı: </span>@x.OdaSayisi
                            </div>
                            <div class="wrap">
                                <span>Garaj: </span>@x.Garaj
                            </div>
                        </div>
                    </div>






                    <div class="main-info">

                    </div>


                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Aidat: </span>@x.Aidat
                            </div>
                            <div class="wrap">
                                <span>Bulunduğu Kat: </span>@x.BulunduguKat
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Kat Sayısı: </span>@x.KatSayisi
                            </div>
                            <div class="wrap">
                                <span>Isıtma: </span>@x.isitma
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Eşyalı: </span>@x.Esyali
                            </div>
                            <div class="wrap">
                                <span>Kullanım Durumu: </span>@x.KullanimDurumu
                            </div>
                        </div>
                    </div>








                    <div class="main-info">

                    </div>


                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Site İçerisinde: </span>@x.Siteicerisinde
                            </div>
                            <div class="wrap">
                                <span>Krediye Uygun: </span>@x.KrediyeUygun
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Takas: </span>@x.Takasli
                            </div>
                            <div class="wrap">
                                <span>Tapu Durumu: </span>@x.TapuDurumu
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Zemin Etüdü: </span>@x.ZeminEtudu
                            </div>
                            <div class="wrap">
                                <span>Yapının Durumu: </span>@x.YapininDurumu
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Yakıt Tipi: </span>@x.YakitTipi
                            </div>
                            <div class="wrap">
                                <span>Balkon: </span>@x.Balkon
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Banyo: </span>@x.Banyo
                            </div>
                            <div class="wrap">
                                <span>Google Map Haritası: </span>@x.GoogleMapAdres
                            </div>
                        </div>
                    </div>



                    <div class="main-info">

                    </div>


                    <div class="row">


                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Yakıt Tipi: </span>@x.YakitTipi
                            </div>
                            <div class="wrap">
                                <span>Balkon: </span>@x.Balkon
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-4">
                            <div class="wrap">
                                <span>Banyo: </span>@x.Banyo
                            </div>
                            <div class="wrap">
                                <span>Google Map Haritası: </span>@x.GoogleMapAdres
                            </div>
                        </div>
                    </div>
                </div>
            }

            @foreach (var x in Model)
            {
                <div class="single-property-description m-b-30">
                    <h3>Açıklama</h3>
                    <p>
                        @x.Aciklama
                    </p>



                    <h3>Özel Not</h3>
                    <p style="font-style:italic">
                        @x.OzelNor
                    </p>
                </div>

            }



        </div>




        <!--İlanı Veren Kişi-->
        <div class="col-lg-4 col-md-5">
            @*<div class="sidebar-agent m-b-30">
                    <div class="agent-info-wrap">
                        <div class="agent-img online">
                            <img src="./images/mask.png" alt="agent-img">
                        </div>
                        <div class="agent-name">
                            Pauline Saunders
                            <span>41 property listings</span>
                        </div>
                        <div class="buttons-wrap">
                            <div class="buttons-left-wrap">
                                <a href="#"><i class="material-icons">&#xE0BF;</i> start chat</a>
                            </div>
                            <div class="buttons-right-wrap">
                                <a href="#">
                                    <i class="fa fa-facebook icons" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter icons" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google icons" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="agent-contact-wrap">
                        <p>Has ex maisonette persecuti. Nulla luxury ea est, eu high ceilings volutpat sit. </p>
                        <div class="information-column">
                            <span><i class="fa fa-phone" aria-hidden="true"></i>Office:</span>
                            <span class="values">083-501-2427</span>
                            <span><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>Mobile:</span>
                            <span class="values">686-986-7249</span>
                            <span><i class="fa fa-skype" aria-hidden="true"></i>Skype:</span>
                            <a href="#" class="values">Lillie Martin</a>
                            <span><i class="fa fa-envelope" aria-hidden="true"></i>E-mail:</span>
                            <a href="#" class="values">jacynthe_labadie@friesen.info</a>
                        </div>
                        <form>
                            <input type="text" placeholder="Your name">
                            <input type="text" placeholder="Phone">
                            <input type="text" placeholder="E-mail">
                            <textarea placeholder="Message"></textarea>
                        </form>
                        <button type="submit">send message</button>
                    </div>
                </div>*@



            <div class="sidebar-search-results m-b-30">
                <h3>Yeni Satılık İlanlar</h3>

                @Html.Action("ilanDetayPart")


            </div>

            <div class="sidebar-featured">
                <h3>Yeni Kiralık İlanlar</h3>
                @Html.Action("ilanDetayKiralikPart")


            </div>
        </div>
    </div>
</div>
