@using GGYatirim.Models.Sinif
@model List<DbiletisimBilgi>



@foreach (var x in Model)
{
    <div class="contact-map-block">
        <div id="map-small-light">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6121.031455530686!2d32.8120038!3d39.9074735!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f4d8fd7719f%3A0x839e241207fc2bed!2s1071%20Usta%20Ankara%20%C4%B0%C5%9F%20ve%20Ya%C5%9Fam%20Merkezi!5e0!3m2!1str!2str!4v1645107690686!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="contact-map__info-wrap">
            <div class="contact-map-block__address-info">
                <i class="fa fa-map-marker"></i>
                <p> @x.Adres </p>

            </div>

            <div class="contact-map-block__phone-block">
                <span class="title">Telefon: </span>
                <span class="value">@x.Tel</span>
                @*<span class="title">Skype:</span>
                    <span class="value">area.skype</span>*@
                <span class="title">E-Posta:</span>
                <span class="value">@x.EPosta</span>


            </div>

            <div class="contact-map-block__social-icons">
                <a href="@x.Facebook" class="icons__item icons__item_margin-right_small">
                    <i class="fa fa-facebook icons" aria-hidden="true"></i>
                </a>
                <a href="@x.Twetter" class="icons__item icons__item_margin-right_small">
                    <i class="fa fa-twitter icons" aria-hidden="true"></i>
                </a>
                @*<a href="@x.li" class="icons__item icons__item_margin-right_small">
                        <i class="fa fa-linkedin icons" aria-hidden="true"></i>
                    </a>*@
                <a href="@x.instagram" class="icons__item">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>


            </div>
        </div>

    </div>
}
