@model IEnumerable<GGYatirim.Models.Sinif.DbBlog>
@using GGYatirim.App_Code


@foreach (var x in Model)
{
    <div class="post-item item">
        <div class="post-item-author">

            <div class="manager-icon">
                <a href="#chat"> <img src="@x.YazarResim" alt="Kullanıcı Resim"></a>
                <div class="online-status"></div>
            </div>
            <p href="#" class="author">
                @Html.ActionLink(x.YazarAdSoyad, "BlogDetay", new { id = x.BlogID, baslik3 = Seo.AdresDuzenle(x.Baslik) })

            </p>
            <a href="#" class="category">
                <i class="fa fa-calendar"></i>
                <span>@Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy")</span>
            </a>


            <p href="#" class="category">
                <i class="fa fa-list"></i>
                <span>
                    @Html.ActionLink(x.Baslik, "BlogDetay", new { id = x.BlogID, baslik3 = Seo.AdresDuzenle(x.Baslik) })

                </span>
            </p>


        </div>
        <div class="post-item-content">
            <h1>@x.Baslik</h1>
            <img src="@x.Resim" alt="post-image">
            @if (x.icerik1.Length > 300)
            {
                <p>
                    @x.icerik1.Substring(0, 300) ...
                </p>

            }
            else
            {
                <p>
                    @x.icerik1
                </p>
            }
            <div>
                <p href="#" class="read-more">
                    @Html.ActionLink("Detay", "BlogDetay", new { id = x.BlogID, baslik3 = Seo.AdresDuzenle(x.Baslik) })

                </p>
                @*<a href="#" class="share"><i class="fa fa-share">Paylaş</i></a>*@
            </div>
        </div>
    </div>
}

