@model IEnumerable<GGYatirim.Models.Sinif.Dbilan>
@using GGYatirim.App_Code
@{
    ViewBag.Title = "Tumilanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title-simple m-b-30">
    <div class="container">
        <ul>
            <li>
                <a href="/">Ana Sayfa</a>
            </li>
            <li>
                <a href="#">İlanlar</a>
            </li>
        </ul>
        <h1>İlanlar</h1>
    </div>
</div>




@*Satılık Slanlar*@

<div class="container apartment-grid-control-up for-sale">
    <div class="arrow-block">

        <div class="arrow-wrapper">
            <a href="#" class="arrow-prev">
                <i class="fa fa-arrow-right"></i>
            </a>
            <a href="#" class="arrow-next">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <div class="span-wrapper">
            <span>Satılık</span>
        </div>

    </div>

    <div class="owl-carousel owl-theme">

        <div class="item">
            <div class="row">

                @foreach (var x in Model)
                {
                    if (x.ilanDurumIDD == 1)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="property-block">

                                <p class="property-type">
                                    @Html.ActionLink(x.DbKonum.SehirAd, "ilanDetay", new { baslik1 = Seo.AdresDuzenle(x.EmlakTipi), @class = "property-title", id = x.ilanID, @style = "text-decoration:none_l.dk wedee_8486454_eFGWTYPOAM", @typeof = "property-title", x.TamAdres })
                                </p>

                                @Html.ActionLink(x.EmlakTipi, "ilanDetay", new { baslik1 = Seo.AdresDuzenle(x.EmlakTipi), @class = "property-title", id = x.ilanID, @style = "text-decoration:none_l.dk wedee_8486454_eFGWTYPOAM", @typeof = "property-title", x.TamAdres })

                                <div class="apartment-address">
                                    <i class="fa fa-location-arrow"></i>
                                    <span class="address">@x.TamAdres</span>
                                </div>

                                <div class="apartment-image">
                                    <img src="@x.VitrinResim" alt="image">
                                    <div class="badges">
                                        <p class="featured">@x.DbilanDurum.ilanDurumAd</p>
                                        <p class="rent">@x.DbEmlakTipi.EmlakTipAd</p>
                                        @*<p class="sale">For Sale</p>*@
                                    </div>

                                </div>


                                <div class="apartment-info">
                                    <div class="apartment-price">

                                        <p class="price-big">@x.TamFiyat ₺</p>

                                        <p class="price-small">Metre Kare @x.MetreKareFiyat ₺</p>

                                    </div>

                                </div>
                                <div class="apartment-manager">
                                    <div class="manager-wrap">
                                        <div class="manager-icon">
                                            @if (x.KProfil != null)
                                            {
                                                <a href="#chat"> <img src="@x.KProfil" alt="kullanici profil"></a>
                                                <div class="online-status"></div>
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/Logo Update-01.png" alt="kullanici profil">
                                                <div class="online-status"></div>
                                            }
                                        </div>

                                        <span class="manager-name">@x.KAdSoyad</span>
                                    </div>
                                    <div class="calendar">
                                        <i class="fa fa-calendar"></i>
                                        <span>@Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>

    </div>
</div>






@*Kiralık İlanlar*@


<div class="container apartment-grid-control-up for-sale">
    <div class="arrow-block">

        <div class="arrow-wrapper">
            <a href="#" class="arrow-prev">
                <i class="fa fa-arrow-right"></i>
            </a>
            <a href="#" class="arrow-next">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <div class="span-wrapper">
            <span>Kiralık</span>
        </div>

    </div>

    <div class="owl-carousel owl-theme">

        <div class="item">
            <div class="row">

                @foreach (var x in Model)
                {
                    if (x.ilanDurumIDD == 2)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="property-block">

                                <p class="property-type">
                                    @Html.ActionLink(x.DbKonum.SehirAd, "ilanDetay", new { baslik1 = Seo.AdresDuzenle(x.EmlakTipi), @class = "property-title", id = x.ilanID, @style = "text-decoration:none_l.dk wedee_8486454_eFGWTYPOAM", @typeof = "property-title", x.TamAdres })
                                </p>
                                <p class="property-title">
                                    @Html.ActionLink(x.EmlakTipi, "ilanDetay", new { baslik1 = Seo.AdresDuzenle(x.EmlakTipi), @class = "property-title", id = x.ilanID, @style = "text-decoration:none_l.dk wedee_8486454_eFGWTYPOAM", @typeof = "property-title", x.TamAdres })
                                </p>

                                <div class="apartment-address">
                                    <i class="fa fa-location-arrow"></i>
                                    <span class="address">@x.TamAdres</span>
                                </div>

                                <div class="apartment-image">
                                    <img src="@x.VitrinResim" alt="image">
                                    <div class="badges">
                                        <p class="featured">@x.DbilanDurum.ilanDurumAd</p>
                                        <p class="rent">@x.DbEmlakTipi.EmlakTipAd</p>
                                        @*<p class="sale">For Sale</p>*@
                                    </div>

                                </div>

                                <div class="apartment-info">
                                   
                                        <div class="apartment-price">
                                            <p class="price-big">@x.TamFiyat ₺</p>
                                            <p class="price-small">Metre Kare @x.MetreKareFiyat ₺</p>
                                        </div>
                                   
                                </div>
                                <div class="apartment-manager">
                                    <div class="manager-wrap">
                                        <div class="manager-icon">
                                            @if (x.KProfil != null)
                                            {
                                                <a href="#chat"> <img src="@x.KProfil" alt="kullanici profil"></a>
                                                <div class="online-status"></div>
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/Logo Update-01.png" alt="kullanici profil">
                                                <div class="online-status"></div>
                                            }
                                        </div>

                                        <span class="manager-name">@x.KAdSoyad</span>
                                    </div>
                                    <div class="calendar">
                                        <i class="fa fa-calendar"></i>
                                        <span>@Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy")</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    }

                }
            </div>

        </div>

    </div>
</div>









