
@using GGYatirim.Models.Sinif
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Dbilan>


<div class="row">

    <div class="col-md-4 region-table">
        <div class="region-item">
            @Html.Action("DbilanDurum")
            @*@Html.Action("DbEmlakTipi")*@
        </div>

        <div class="region-item">

            @Html.Action("DbEmlakTipi")
        </div>
    </div>

    <!-- İlan Kısmı-->
    @foreach (var x in Model)
    {
        <div class="col-md-8">
            <div class="region-apartment">
                <div class="apartment-image">
                    <img src="@x.VitrinResim" alt="Resim">
                    <div class="badge-wrapper">
                        <div class="small-badge badge-sale"></div>
                        <div class="small-badge badge-rent"></div>
                        <div class="small-badge badge-featured"></div>
                    </div>
                </div>
                <div class="apartment-description">
                    <p>@x.TamFiyat ₺</p>
                    <p>@x.DbEmlakTipi.EmlakTipAd</p>
                    <h2>@x.EmlakTipi</h2>
                     <div class="apartment-property-wrapper">
                        <div class="apartment-table">
                            <table>
                                <tr>
                                    <th>Oda Sayısı.</th>
                                    <th>Banyo.</th>
                                    <th>Arazi Alanı.</th>
                                    @*<th>Fiyatı ₺</th>*@
                                    <th>Metre Kare Fiyatı</th>
                                </tr>
                                <tr>
                                    <td>@x.OdaSayisi</td>
                                    <td>@x.Banyo</td>
                                    <td>@x.AraziAlanı</td>
                                    @*<td>@x.TamFiyat </td>*@
                                    <td>@x.MetreKareFiyat</td>
                                </tr>
                            </table>

                        </div>
                        <div class="apartment-details-btn">
                            <!-- <a href="#" class="clone"><i class="material-icons icons-style"></i></a>-->
                            <a href="~/Home/ilanDetay/@x.ilanID" class="details-button">Detay</a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    }

    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

</div>