@model GGYatirim.Models.Sinif.DbBlog
@{
    ViewBag.Title = "AdmBlogEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!doctype html>
<html class="no-js " lang="en">

<body class="theme-blue">
    <!-- Main Content -->
    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>
                        Bloglar
                        <small class="text-muted">Tekrar Hoş Geldiniz</small>
                    </h2>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">

                            <h4>Yeni Blog Ekle</h4>

                            @using (Html.BeginForm("AdmBlogEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <form class="form-group" method="post">
                                    <b>Başlık</b>
                                    @*@Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })*@
                                    @Html.TextBoxFor(k => k.Baslik, new { @class = "form-control", required = true })
                                    <br />

                                    <b>İçerik 1</b>
                                    @Html.TextAreaFor(x => x.icerik1, 4, 4, new { @class = "form-control", required = true })
                                    <br />


                                    <b>İçerik 2</b>
                                    @Html.TextAreaFor(x => x.icerik2, 5, 5, new { @class = "form-control", required = true })
                                    <br />

                                    <b>İçerik 3</b>
                                    @Html.TextAreaFor(x => x.icerik3, 3, 3, new { @class = "form-control", required = true })
                                    <br />




                                    <b>
                                        E-Posta
                                    </b>
                                    @Html.TextBoxFor(x => x.EPosta, new { @class = "form-control", required = true })
                                    @*<input type="text" name="EPosta" maxlength="50" required="" class="form-control" />*@
                                <br />
                                    <b>Resim</b>
                                    @*@Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })*@
                                    <input type="file" name="File" id="File" value="Resim Seçiniz" />
                                    <br />
                                    <br />


                                    @Html.HiddenFor(x => x.BlogID)
                                    <br />
                                    @*@Html.MathCaptcha()*@

                                    <button class="btn btn-raised btn-success btn-simple btn-round">Yeni Blog Ekle</button>

                                </form>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

