@model GGYatirim.Models.Sinif.DbAdmin
@{
    ViewBag.Title = "AdminKulGetr";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!doctype html>
<html class="no-js " lang="en">

<body class="theme-blue">
    <!-- Main Content -->
    <section class="content">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>
                        Yeni Yetkili Güncelleme Kısmı
                        <small class="text-muted">Tekrar Hoş Geldiniz</small>
                    </h2>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">

                            <h4>Kullanıcı Sayfasını Güncelle</h4>

                            @using (Html.BeginForm("AdmKulGuncelle", "Admin", FormMethod.Post))
                            {
                                <div id="div-boyut">
                                    <label><b>Ad Soyad</b></label>
                                    @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })
                                </div>
                                <br />
                                <div>
                                    <label><b>Telefon</b></label>
                                    @Html.TextBoxFor(x => x.Tel, new { @class = "form-control" })
                                </div>
                                <br />
                                <div>
                                    <label><b>E-Posta</b></label>
                                    @Html.TextBoxFor(x => x.EPosta, new { @class = "form-control" })
                                </div>
                                <br />
                                <div>
                                    <label><b>Şifre</b></label>
                                    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
                                </div>
                                <br />
                                <label><b>Yetki</b></label>
                                @Html.DropDownListFor(x => x.RolId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

                                <div>
                                    @Html.HiddenFor(x => x.AdminID)
                                </div>
                                <div>
                                    <br />

                                    <button class="btn btn-raised btn-success btn-simple btn-round">Değişiklikleri Kaydet</button>
                                    <br />
                                </div>


                            }


                            <div class="col-md-12 table table-hover">
                                <h3>Yetkilerin Özellikleri</h3>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Yetki Ad</th>
                                        <th>Yetki Seviyeleri</th>

                                    </tr>
                                    <tr>
                                        <td>Admin</td>
                                        <td>Tüm Verilere Erişebilir (İlan Ekle, Silinmiş İlanlar, Silinmiş Müşteriler, Gelen Mesajlar,Onay Bekleyen İlanlar,Kullanıcı Yetkilendirme, Tüm Yetki)</td>

                                    </tr>

                                    <tr>
                                        <td>İçerik Yönetici</td>
                                        <td>İlanları  - Detay Görebilir, İlan Ekleyebilir, Kayıtlı Müşterileri Görebilir Ama Silemez, Emlak Tipi , Özellik,Konum ,İlan Durum Ekleyip Düzenleyeniliri. Gelen mesajları Görebilir-Silebilir,Temsilcileri Görebilir-Sil Güncelleme Yapabilir, Yeni Temsilci Ekleyebilir.</td>

                                    </tr>

                                    <tr>
                                        <td>Yazar</td>
                                        <td>İlanları  - Detay Görebilir, Kayıtlı Müşterileri Görebilir Ama Silemez, Emlak Tipi , Özellik,Konum ,İlan Durum Ekleyip Düzenleyeniliri. Blogları görebilir Sil- Ekle -Düzenleme Yapabilir.</td>

                                    </tr>
                                    <tr>
                                        <td>Pazarlama Elemanı</td>
                                        <td>İlanları  - Detay Görebilir İlan Ekleyebilir.</td>

                                    </tr>

                                    <tr>
                                        <td>Kullanıcı</td>
                                        <td>İlanları  - Detay Görebilir.</td>

                                    </tr>


                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>