@using GGYatirim.Models.Sinif
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<DbKullanici>
@{
    ViewBag.Title = "AdmKayitliKullanici";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!doctype html>
<html class="no-js " lang="en">

<body class="theme-blue">




    <!-- Main Content -->
    <section class="content agent">
        <div class="block-header">
            <div class="row">
                <div class="card">
                    <div class="header">
                        <h2>Kayıtlı Müşteri Sayısı:  <b>@ViewBag.kulsay</b></h2>
                    </div>
                    @using (Html.BeginForm("AdmKayitliKullanici", "Admin", FormMethod.Get))
                    {
                        <div class="body">
                            <div class="input-group">
                                <input type="text" class="form-control" name="p" placeholder="AdSoyad, Kullanıcı No, Eposta, TelNo,  Şehir, Adres  Anahtar Kelime Giriniz...">
                                <button class="input-group-addon"><i class="zmdi zmdi-search"></i></button>
                            </div>

                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                @foreach (var x in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="card agent">
                            <div class="agent-avatar"> <a href="#"> <img src="@x.Resim" class="img-fluid" alt=""> </a> </div>
                            <div class="agent-content">
                                <div class="agent-name">
                                    <h4><a href="#">@x.KisiAdi @x.KisiSoyadi</a></h4>
                                    <span>@x.Meslek</span>
                                    <br />
                                    <span>Müşteri No:<b> @x.KullaniciNo </b></span>
                                    <br />
                                    <span>Kayıt Tarihi:<b> @Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy") </b></span>

                                </div>
                                <ul class="agent-contact-details">
                                    <li><i class="zmdi zmdi-phone"></i><span>@x.Telefon</span></li>
                                    <li><i class="zmdi zmdi-email"></i>@x.EPosta</li>
                                </ul>
                                <ul class="social-icons">
                                    <li><a class="facebook" href="@x.Face"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a class="twitter" href="@x.instagram"><i class="zmdi zmdi-instagram"></i></a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a class="linkedin" href="/Admin/AdmKayitliKullaniciGetr/@x.KullaniciID" alt="Düzenle(Detay)"><i class="zmdi zmdi-edit"></i></a></li>

                                        <li><a class="gplus" href="/Admin/AdmKayitliKullaniciSil/@x.KullaniciID" alt="Sil"><i class="zmdi zmdi-delete"></i></a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdmKayitliKullanici", new { sayfa }))
        </div>
    </section>

</body>
</html>