@using GGYatirim.Models.Sinif
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Dbilan>
@{
    ViewBag.Title = "AdmKisiilan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="padding:0px;">
    <h1 class="account-header-top">İlanlar</h1>
    <div class="row">
        @foreach (var x in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">

                <div class="property-block">
                    <p class="property-type">@x.DbKonum.SehirAd</p>
                    <p class="property-title">@x.EmlakTipi</p>
                    <div class="apartment-address">
                        <i class="fa fa-location-arrow"></i>
                        <span class="address">@x.TamAdres</span>
                    </div>

                    <div class="apartment-image">
                        <img src="@x.VitrinResim" alt="image">
                        <div class="badges">
                            <p class="featured">@x.DbEmlakTipi.EmlakTipAd</p>
                            <p class="rent">@x.DbilanDurum.ilanDurumAd</p>

                        </div>

                    </div>

                    <div class="apartment-values">
                        <span>İlan No: @x.ilanNo</span>

                        <span>Alan Boyutu: @x.AlanBoyutu</span>
                    </div>
                    <div class="apartment-info">
                        <div class="apartment-price">
                            <p class="price-big">@x.TamFiyat ₺</p>
                            <p class="price-small">@x.MetreKareFiyat ₺ Metre.K</p>
                        </div>

                    </div>
                    <div class="apartment-manager">
                        <div class="manager-wrap">
                            <div class="manager-icon">
                                <a href="#chat"> <img src="~/Content/Images/Logo Update-01.png" alt="admin"></a>
                                <div class="online-status"></div>
                            </div>

                            <span class="manager-name">Güner Group Yatırım</span>
                        </div>
                        <div class="calendar">
                            <i class="material-icons">insert_invitation</i>
                            <span>@Convert.ToDateTime(x.Tarih).ToString("dd/MMM/yyyy")</span>
                        </div>
                    </div>
                </div>
               
            </div>
        }

            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AdmKisiilan", new { sayfa }))





        </div>
</div>

