@model IEnumerable<GGYatirim.Models.Sinif.DbAdmin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>
                    Gösterge Paneli
                    <small class="text-muted">Goşgeldiniz: <b> @ViewBag.ad </b></small>
                </h2>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3 class="number count-to" data-from="0" data-to="128" data-speed="2000" data-fresh-interval="700"> @ViewBag.onayilan</h3>
                        <p class="text-muted">Onaylı İlanlarım</p>
                        <div class="progress">
                            <div class="progress-bar l-blue" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.onayilan%;"></div>
                        </div>
                        <small>Onaylı İlanlarım @ViewBag.onayilan</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3 class="number count-to" data-from="0" data-to="758" data-speed="2000" data-fresh-interval="700">@ViewBag.onaysiz</h3>
                        <p class="text-muted">Onay Bekleyen İlanlarım</p>
                        <div class="progress">
                            <div class="progress-bar l-green" role="progressbar" aria-valuenow="@ViewBag.onaysiz" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.onaysiz%;"></div>
                        </div>
                        <small>Onay Bekleyen İlanlarım @ViewBag.onaysiz</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.toplamilan</h3>
                        <p class="text-muted">Toplam İlanlarım</p>
                        <div class="progress">
                            <div class="progress-bar l-amber" role="progressbar" aria-valuenow="@ViewBag.toplamilan" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.toplamilan%;"></div>
                        </div>
                        <small>Toplam İlanlarım @ViewBag.toplamilan</small>
                    </div>
                </div>
            </div>
















            @foreach (var l in Model)
            {
                if (l.AdSoyad != null && l.EPosta != null && l.Tel != null && l.Sifre != null)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body">
                                <h3>100%</h3>
                                <p class="text-muted">Profil Gücü</p>
                                <div class="progress">
                                    <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <small>Profilinizi Doldurdukça İnsanların Güvencesi Artar</small>
                            </div>
                        </div>
                    </div>
                }




                if (l.AdSoyad == null && l.EPosta == null && l.Tel == null && l.Sifre == null)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body">
                                <h3>1%</h3>
                                <p class="text-muted">Profil Gücü</p>
                                <div class="progress">
                                    <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%;"></div>
                                </div>
                                <small>Profilinizi Doldurdukça İnsanların Güvencesi Artar</small>
                            </div>
                        </div>
                    </div>
                }


                if (l.AdSoyad == null || l.EPosta == null)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body">
                                <h3>30%</h3>
                                <p class="text-muted">Profil Gücü</p>
                                <div class="progress">
                                    <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="1" aria-valuemin="30" aria-valuemax="100" style="width: 30%;"></div>
                                </div>
                                <small>Profilinizi Doldurdukça İnsanların Güvencesi Artar</small>
                            </div>
                        </div>
                    </div>
                }



                if (l.Tel == null)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="body">
                                <h3>60%</h3>
                                <p class="text-muted">Profil Gücü</p>
                                <div class="progress">
                                    <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="1" aria-valuemin="60" aria-valuemax="100" style="width: 60%;"></div>
                                </div>
                                <small>Profilinizi Doldurdukça İnsanların Güvencesi Artar</small>
                            </div>
                        </div>
                    </div>
                }
                else
                {


                    if (l.EPosta == null)
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="body">
                                    <h3>80%</h3>
                                    <p class="text-muted">Profil Gücü</p>
                                    <div class="progress">
                                        <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="1" aria-valuemin="85" aria-valuemax="100" style="width: 85%;"></div>
                                    </div>
                                    <small>Profilinizi Doldurdukça İnsanların Güvencesi Artar</small>
                                </div>
                            </div>
                        </div>
                    }

                }





            }


            @if (User.IsInRole("Admin"))
            {

                <!--Sadece Admin Görebilcek-->

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="128" data-speed="2000" data-fresh-interval="700"> @ViewBag.musterisay</h3>
                            <p class="text-muted">Toplam Müşteri Sayısı</p>
                            <div class="progress">
                                <div class="progress-bar l-blue" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.musterisay%;"></div>
                            </div>
                            <small>Toplam Müşteri Sayısı @ViewBag.musterisay</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="758" data-speed="2000" data-fresh-interval="700">@ViewBag.musterisay2</h3>
                            <p class="text-muted">Silinmiş Müşteri Sayısı</p>
                            <div class="progress">
                                <div class="progress-bar l-green" role="progressbar" aria-valuenow="@ViewBag.musterisay2" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.musterisay2%;"></div>
                            </div>
                            <small>Silinmiş Müşteri Sayısı @ViewBag.musterisay2</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.aktifilan</h3>
                            <p class="text-muted">Toplam İlan Sayısı</p>
                            <div class="progress">
                                <div class="progress-bar l-amber" role="progressbar" aria-valuenow="@ViewBag.aktifilan" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.aktifilan%;"></div>
                            </div>
                            <small>Toplam İlan Sayısı @ViewBag.aktifilan</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.pasifilan</h3>
                            <p class="text-muted">Silinmiş İlanlar</p>
                            <div class="progress">
                                <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="100" aria-valuemin="@ViewBag.pasifilan" aria-valuemax="100" style="width: @ViewBag.pasifilan%;"></div>
                            </div>
                            <small>Silinmiş İlanlar: @ViewBag.pasifilan</small>
                        </div>
                    </div>
                </div>


                <!--Sadece Admin Görebilcek-->


                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="128" data-speed="2000" data-fresh-interval="700"> @ViewBag.onaybekleyenilan</h3>
                            <p class="text-muted">Toplam Onay Bekleyen İlanlar</p>
                            <div class="progress">
                                <div class="progress-bar l-blue" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.onaybekleyenilan%;"></div>
                            </div>
                            <small>Toplam Onay Bekleyen İlanlar @ViewBag.onaybekleyenilan</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="758" data-speed="2000" data-fresh-interval="700"> @ViewBag.gelenmesaj</h3>
                            <p class="text-muted">Gelen Mesajlar</p>
                            <div class="progress">
                                <div class="progress-bar l-green" role="progressbar" aria-valuenow="@ViewBag.gelenmesaj" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.gelenmesaj%;"></div>
                            </div>
                            <small>Gelen Mesajlar @ViewBag.gelenmesaj</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.temsilci</h3>
                            <p class="text-muted">Toplam Temsilci Sayısı</p>
                            <div class="progress">
                                <div class="progress-bar l-amber" role="progressbar" aria-valuenow="@ViewBag.temsilci" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.temsilci%;"></div>
                            </div>
                            <small>Toplam Temsilci Sayısı @ViewBag.temsilci</small>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.blogsayisi</h3>
                            <p class="text-muted">Bloglar</p>
                            <div class="progress">
                                <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="100" aria-valuemin="@ViewBag.blogsayisi" aria-valuemax="100" style="width: @ViewBag.blogsayisi%;"></div>
                            </div>
                            <small>Bloglar: @ViewBag.blogsayisi</small>
                        </div>
                    </div>
                </div>


                <!--Sadece Admin Görebilcek-->

                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="128" data-speed="2000" data-fresh-interval="700"> @ViewBag.satilik</h3>
                            <p class="text-muted">Toplam Satılık İlanlar</p>
                            <div class="progress">
                                <div class="progress-bar l-blue" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.satilik%;"></div>
                            </div>
                            <small>Toplam Satılık İlanlar @ViewBag.satilik</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="758" data-speed="2000" data-fresh-interval="700"> @ViewBag.kiralik</h3>
                            <p class="text-muted">Toplam Kiralık İlanlar</p>
                            <div class="progress">
                                <div class="progress-bar l-green" role="progressbar" aria-valuenow="@ViewBag.kiralik" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.kiralik%;"></div>
                            </div>
                            <small>Toplam Kiralık İlanlar @ViewBag.kiralik</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.d1</h3>
                            <p class="text-muted">Apartman</p>
                            <div class="progress">
                                <div class="progress-bar l-amber" role="progressbar" aria-valuenow="@ViewBag.d1" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d1%;"></div>
                            </div>
                            <small>Apartman @ViewBag.d1</small>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.d2</h3>
                            <p class="text-muted">Daire</p>
                            <div class="progress">
                                <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="100" aria-valuemin="@ViewBag.d2" aria-valuemax="100" style="width: @ViewBag.d2%;"></div>
                            </div>
                            <small>Daire: @ViewBag.d2</small>
                        </div>
                    </div>
                </div>

                <!--Sadece Admin Görebilcek-->

                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="128" data-speed="2000" data-fresh-interval="700"> @ViewBag.d3</h3>
                            <p class="text-muted">Arsa</p>
                            <div class="progress">
                                <div class="progress-bar l-blue" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d3%;"></div>
                            </div>
                            <small>Arsa @ViewBag.d3</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="758" data-speed="2000" data-fresh-interval="700"> @ViewBag.d4</h3>
                            <p class="text-muted">Müstakil</p>
                            <div class="progress">
                                <div class="progress-bar l-green" role="progressbar" aria-valuenow="@ViewBag.d4" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d4%;"></div>
                            </div>
                            <small>Müstakil @ViewBag.d4</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.d5</h3>
                            <p class="text-muted">Dubleks</p>
                            <div class="progress">
                                <div class="progress-bar l-amber" role="progressbar" aria-valuenow="@ViewBag.d5" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d5%;"></div>
                            </div>
                            <small>Dubleks @ViewBag.d5</small>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.d6</h3>
                            <p class="text-muted">Arazi</p>
                            <div class="progress">
                                <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="100" aria-valuemin="@ViewBag.d6" aria-valuemax="100" style="width: @ViewBag.d6%;"></div>
                            </div>
                            <small>Arazi: @ViewBag.d6</small>
                        </div>
                    </div>
                </div>
                <!--Sadece Admin Görebilcek-->

                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="128" data-speed="2000" data-fresh-interval="700"> @ViewBag.d7</h3>
                            <p class="text-muted">Dükkan</p>
                            <div class="progress">
                                <div class="progress-bar l-blue" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d7%;"></div>
                            </div>
                            <small>Dükkan @ViewBag.d7</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="758" data-speed="2000" data-fresh-interval="700"> @ViewBag.d8</h3>
                            <p class="text-muted">İş Yeri</p>
                            <div class="progress">
                                <div class="progress-bar l-green" role="progressbar" aria-valuenow="@ViewBag.d8" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d8%;"></div>
                            </div>
                            <small>İş Yeri @ViewBag.d8</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.d9</h3>
                            <p class="text-muted">Bahçe</p>
                            <div class="progress">
                                <div class="progress-bar l-amber" role="progressbar" aria-valuenow="@ViewBag.d9" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d9%;"></div>
                            </div>
                            <small>Bahçe @ViewBag.d9</small>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.d10</h3>
                            <p class="text-muted">Petrol İstasyonu</p>
                            <div class="progress">
                                <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="100" aria-valuemin="@ViewBag.d10" aria-valuemax="100" style="width: @ViewBag.d10%;"></div>
                            </div>
                            <small>Petrol İstasyonu: @ViewBag.d10</small>
                        </div>
                    </div>
                </div>



                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="128" data-speed="2000" data-fresh-interval="700"> @ViewBag.d11</h3>
                            <p class="text-muted">Çiftlik</p>
                            <div class="progress">
                                <div class="progress-bar l-blue" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d11%;"></div>
                            </div>
                            <small>Çiftlik @ViewBag.d11</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="758" data-speed="2000" data-fresh-interval="700"> @ViewBag.d12</h3>
                            <p class="text-muted">Ahır</p>
                            <div class="progress">
                                <div class="progress-bar l-green" role="progressbar" aria-valuenow="@ViewBag.d12" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d12%;"></div>
                            </div>
                            <small>Ahır @ViewBag.d12</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.d13</h3>
                            <p class="text-muted">Otomobil</p>
                            <div class="progress">
                                <div class="progress-bar l-amber" role="progressbar" aria-valuenow="@ViewBag.d13" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.d13%;"></div>
                            </div>
                            <small>Otomobil @ViewBag.d13</small>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-6">
                    <div class="card">
                        <div class="body">
                            <h3 class="number count-to" data-from="0" data-to="2521" data-speed="2000" data-fresh-interval="700">@ViewBag.d14</h3>
                            <p class="text-muted">Traktör</p>
                            <div class="progress">
                                <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="100" aria-valuemin="@ViewBag.d14" aria-valuemax="100" style="width: @ViewBag.d14%;"></div>
                            </div>
                            <small>Traktör: @ViewBag.d14</small>
                        </div>
                    </div>
                </div>


            }



        </div>




    </div>


</section>